{% block left_menu %}
    <div class="card mb-5" style="width: 18rem;">
        <div class="card-header">
            Catégories
        </div>
        {%  for categorie in categories %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ><a  href="{{ path("blog_view_category", {'id': categorie.id}) }}">{{ categorie.name }}</a></li>
                </ul>
        {% endfor %}
    </div>
   {%  for article in articles %}
       <div class="card mb-3" style="width: 18rem;">
           <div class="card-body">
               <h5 class="card-title">{{ article.title }}</h5>
               <p class="card-text">{{ article.content|truncate(30, true) }}</p>
               <a class="btn btn-dark"  href="{{ path("blog_view_article", {'id': article.id}) }}">Lien de l'article</a>
           </div>
       </div>
    {% endfor %}
{% endblock %}

