{%  extends 'blog.html.twig' %}
{% block h1 %}
    <h1>Liste des articles</h1>
{% endblock %}
{% block content_blog %}
    <div class="row">
        {% for message in app.flashes('success') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <div class = "row">
            {% for article in articles %}
                <div class=" mb-3 mb-sm-0 mt-3 col-md-4">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">{{ article.title }}</h5>

                            {# <h6 class="card-title">{{ article.createdAt|date('d/m/y') }}</h6> #}
                            <p class="card-text">{{ article.content }}</p>
                            <a class="btn btn-dark" href="{{ path("blog_view_article", {'id': article.id}) }}">Lien de l'article</a>
                            <hr>
                            {% for comment in article.comments %}
                                <p class="card-text mt-2"><small class="text-body-secondary">{{ comment.createdAt|date('d/m/y') }} par {{ comment.author }}</small></p>
                                <p class="card-text"><small class="text-body-secondary">{{ comment.message }}</small></p>
                                {% if not loop.last %}
                                    <hr>
                                {% endif %}
                                {% else %}
                                    <p class="card-text mt-2"><small class="text-body-secondary">Pas de commentaire</small></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-6 mt-5">
        {% for i in 1..totalPages %}
            {% if i != page %}
                <a href="{{ path( 'blog_show_list', {'page' : i} ) }}">{{ i }}</a>
            {% elseif i == page %}
                {{ i }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

