{% extends 'blog.html.twig' %}

    {% block content_blog %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card" >
            <div class="card-body">
                {%  for category in articles.categories %}
                    <small class="text-body-secondary">{{ category.name }}
                        {% if not loop.last %}
                            -
                        {% endif %}
                    </small>
                {% endfor %}
                {% if articles.user is not null and articles.user.firstName is not null %}
                    <small class="card-text mt-2"> - {{ articles.user.firstName }}  {{ articles.user.lastName }}</small>
                {% else %}
                    <small class="card-text mt-2"> - {{ articles.author }}</small>
                {% endif %}
                <hr>
                <h5 class="card-title m-0">{{ articles.title }}</h5>
                <p class="card-text mt-2">{{ articles.content }}</p>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path( 'blog_edit_article', {'id' : articles.id} ) }}" class="btn btn-dark">{{ "Modifier"|trans }}</a>
                    <a href="{{ path( 'blog_delete_article', {'id' : articles.id} ) }}" class="btn btn-secondary">{{ "Supprimer"|trans }}</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}

